<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, Meta Tags, Metadata"/>
    <meta name="description" content="Learn more about the benefits of Low THC & CBD products as well as industry highlights and innovations through our Incredible Edibles blog. Take a look here!"/>
    <meta name="author" content="IncredibleEdibles.com"/>
    <title>CBD Industry Updates & Innovations - Incredible Edibles Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../Styles/home.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/jpg" href="../Assets/Images/favicon.png"/>
    <link href="../../Styles/life.css" rel="stylesheet" type="text/css" />
    <link href="../../Stylesmodals.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../Assets/Js/navbar-animate.js"></script>
    <script src="../Assets/Js/toogle-menu.js"></script>
    <script src="../Assets/Js/filters-list.js"></script>
    <script src="../Assets/Js/pagination.js"></script>
    <script src="../../Header/header.js" type="text/javascript" defer></script>
    <script src="../../Footer/footer.js" type="text/javascript" defer></script>
    <!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>
  <body>
    <header-component></header-component>
    <main>
         <!-- Your page's content -->
            <div class='container-fluid'>
                   <!--First Div-->
                    <div class="mainBg">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="blogCont">
                          <nav aria-label="breadcrumb" class="breadNav">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#"> SHOP CBD </a></li>
                              <li class="breadcrumb-item"><a href="#">PAIN MANAGEMENT </a></li>
                              <li class="breadcrumb-item"><a href="#">BRANDS </a></li>
                              <li class="breadcrumb-item active" aria-current="page"> BLOG</li>
                            </ol>
                          </nav>
                          <h1 class="mainColor"> H1 Title </h1>
                          <p class="mainColor"> Short descriptive <br/> copy goes here </p>
                        
                         </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="topImgDiv">
      
                          </div>
                      </div>
                    </div>
                    </div>
                     <!--Second Div-->
                     <div class="Post">
                         <div class="container ">
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-12 postBlog">
                                    <h2 class='mainColor'> H2 subhead </h2>
                                    <p  class='mainColor'> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                       dolore magna er adipiscing elit, sed diam nonummy nibh euismod tin Lorem ipsum
                                       dolor sit amet, cons nonummy nibh euismod tincidunt ut laoreet dolore magna er
                                       adipiscing elit, sed diam nonummy nibh euismod tin Lorem ipsum dolor sit amet,
                                       cons nonummy nibh euismod tincidunt ut laoreet dolore magna er adipiscing elit, sed
                                       diam nonummy nibh euismod tin Lorem ipsum dolor sit amet, cons
                                       </p>

                                       <blockquote class='quote' cite="#">
                                        <h4 class='mainColor'>Consectetuer adipiscing elit, sed diam
                                            nonummy nibh euismod tincidunt ut laoreet
                                            dolore magna er adipiscing elit, sed diam
                                            nonummy nibh euismod tin Lorem ipsum
                                            dolor sit amet, cons</h4>
                                    </blockquote>

                                    <p  class='mainColor'> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                        dolore magna er Hyperlink to product mentioned nibh euismod tin Lorem ipsum
                                        dolor sit amet, cons nonummy nibh euismod tincidunt ut laoreet dolore magna er
                                        adipiscing elit, sed diam nonummy nibh euismod tin Lorem ipsum dolor sit amet,
                                        cons nonummy nibh euismod tincidunt ut laoreet dolore magna er adipiscing elit, sed
                                        diam nonummy nibh euismod tin Lorem ipsum dolor sit amet, cons
                                        
                                        </p>
                                        <div class="blogImg">

                                        </div>

                                        <p  class='mainColor'> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                            dolore magna er Hyperlink to product mentioned nibh euismod tin Lorem ipsum
                                            dolor sit amet, cons nonummy nibh euismod tincidunt ut laoreet dolore magna er
                                            adipiscing elit, sed diam nonummy nibh euismod tin Lorem ipsum dolor sit amet,
                                            cons nonummy nibh euismod tincidunt ut laoreet dolore magna er adipiscing elit, sed
                                            diam nonummy nibh euismod tin Lorem ipsum dolor sit amet, cons
                                            
                                            </p>

                                        <nav aria-label="Page navigation example" class='pagination'>
                                            <ul class="pagination justify-content-center">
                                              <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                              </li>
                                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                                              <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                              </li>
                                            </ul>
                                          </nav>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group has-search">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                      </div>

                                      <h6 class='mainColor ft-up'> Recent Post </h6>
                                      <hr class="hr-def"/>
                                      <div class="recentPost">
                                        <label class="post-tag clr-blue"> <span id='catsubChange'> Superfoods </span>  <span class="vl-post">  </span> 08/18/21</label>
                                        <h5 class="clr-blue"> Post Headline <br/>
                                          Goes Here </h5>
                                      </div>
                                      <hr class="hr-def"/>
                                      <div class="recentPost">
                                        <label class="post-tag clr-blue"> <span id='catsubChange'> CBD </span>  <span class="vl-post">  </span> 08/18/21</label>
                                        <h5 class="clr-blue"> Post Headline <br/>
                                          Goes Here </h5>
                                      </div>
                                      <hr class="hr-def"/>
                                      <div class="recentPost">
                                        <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                        <h5 class="clr-blue"> Post Headline <br/>
                                          Goes Here </h5>
                                      </div>

                                      <h6 class='mainColor ft-up'> POPULAR TAGS </h6>
                                      <hr class="hr-def"/>
                                        <ul class="popular-tags"> 
                                            <li> CIDUNT UT LAOREET DOLORE </li>
                                            <li> MAGNA ER ADIPISCING ELIT </li>
                                            <li> DIAM NONUMMY </li>
                                            <li> UISMOD TIN LOREM </li>
                                            <li> IPSUM DOLOR SIT AMET,</li>
                                        </ul>
                                      <hr class="hr-def"/>

                                    </div>
                            </div>
                         </div>
                     </div>
                     <hr/>
                      <!--Third Div-->
                      <div class='container'>
                        <h4 class="mainColor"> Shop CBD’s for Wellness </h4>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="shopCards">
                                    <div class="shopCards-img"></div>
                                    <h6 class='mainColor'> Product Name </h6>
                                    <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo
                                         </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="shopCards">
                                    <div class="shopCards-img"></div>
                                    <h6 class='mainColor'> Product Name </h6>
                                    <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo
                                         </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="shopCards">
                                    <div class="shopCards-img"></div>
                                    <h6 class='mainColor'> Product Name </h6>
                                    <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo
                                         </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="shopCards">
                                    <div class="shopCards-img"></div>
                                    <h6 class='mainColor'> Product Name </h6>
                                    <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                        natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo
                                         </p>
                                </div>
                            </div>
                        </div>
                      </div>

                      <!-- Forth Div-->
                      <div class='container relatedPost mtt-30'>
                        <h4 class="mainColor"> Related Posts About Wellness </h4>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                        </div>
                        </div>
                        <footer-component/>
            </div>

            
            

    </main>

    </body>
</html>
    