<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, Meta Tags, Metadata"/>
    <meta name="description" content="We offer plant-based, CBD, wellness & superfood products through in-store shopping, online ordering & curbside pickup. Visit our Glastonbury, CT location today!"/>
    <meta name="author" content="IncredibleEdibles.com"/>
    <title>Incredible Edibles Glastonbury, CT | Plant-Based & CBD Products </title>
    <link rel="shortcut icon" type="image/jpg" href="../Assets/Images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../Styles/home.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/modals.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/locations.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/life.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/about.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../Assets/Js/navbar-animate.js"></script>
    <script src="../Assets/Js/toogle-menu.js"></script>
    <script src="../../Header/header.js" type="text/javascript" defer></script>
    <script src="../../Footer/footer.js" type="text/javascript" defer></script>
  </head>
    <body>
        <header-component></header-component>
        <main>
            <div class="container-fluid">
               <div class="borderDiv">
                    <div class="container">
                        <div class="blogCont">
                            <nav aria-label="breadcrumb" class="breadNav">
                              <ol class="breadcrumb breadcrumbsdet">
                                <li class="breadcrumb-item"><a href="#"> LOCATIONS </a></li>
                                <li class="breadcrumb-item active" aria-current="page">GLASTONBURY </li>
                              </ol>
                            </nav>
                            <h1 class="mainColor text-center"> Incredible Edibles | Glastonbury, CT </h1>
                            <p class="mainColor text-center"> THE SHOPS AT SOMERSET </p>
                            <div class="row">
                                <div class="col-lg-4 col-4">
                                    <div class="buildSec">
                                        <div class="btnCont text-center">
                                            <p class="mainColor ft-500 mbb-0"> NEW! </p>
                                            <h2 class="mainColor ">Acai Breakfast <br/>
                                                Bowls </h2>
                                           
                                            <button class="mainButton"> BUILD YOUR OWN </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4">
                                    <div class="buildSec">
                                        <div class="btnCont text-center">
                                            <h2 class="mainColor ">Rest  <br/>
                                                Well</h2>
                                           
                                            <button class="mainButton mtt-40">SHOP CBD FOR SLEEP </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-4">
                                    <div class="buildSec">
                                        <div class="btnCont text-center">
                                            <h2 class="mainColor ">Kombucha <br/>
                                                Flights</h2>
                                           
                                            <button class="mainButton mtt-40"> LEARN MORE </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           </div>
                    </div>
               </div>
               <div class="btndiv text-center">
                <button class="mainButton mtt-30 "> START FOOD ORDER </button> &nbsp; &nbsp; &nbsp; &nbsp;
                <button class="mainButton mtt-30"> SHOP CBD & MORE </button>
               </div>
               <div class="container">
                   <div class="row mtt-30">
                       <div class="col-lg-7 col-md-7 col-sm-6">
                        <h6 class="card-title mainColor ">The Shops at Somerset</h6>
                        <p class=" mainColor mbb-0 ft-18"> 110 Glastonbury Boulevard <br/>
                            Glastonbury, CT 06033 </p>
                        <a href="#" class="locationLink" >Get Directions</a>

                        <p class=" mainColor mbb-0 mtt-30 "> <b> Phone: </b> 123-456-7890 </p>
                        <p class=" mainColor mbb-0 "> <b>  Email: </b>  glastonbury@incredibleedibles.com </p>

                        <p class=" mainColor mbb-0 ft-18 mtt-20"> <b> Store Hours: </b> </p>
                        <p class=" mainColor mbb-0 "> Sunday 12PM-7PM <br/>
                            Monday-Thurs 11AM-7PM
                            <br/>
                            Friday & Saturday 11AM-9PM
                        </p>

                        <p class=" mainColor mbb-0 mtt-30"> <b> Contactless Pick-up & Delivery Available </b> 
                       </div>
                       <div class="col-lg-5 col-md-5 col-sm-6">
                           <div class="locImg">

                           </div>
                           <div class="socialDiv">
                                <h6 class="clr-white fl-left"> Follow Us For Product News </h6>
                               <div class="fl-right"> 
                                <img src='./Assets/Images/fb.png' class="loc-social"/>
                                <img src='./Assets/Images/instagram.png' class="loc-social"/>
                               </div>
                           </div>
                    </div>
                   </div>
               </div>

               <div class="container mtt-30">
                <div class='row'>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                     <h4 class="mainColor mainTitle"> Feel Good Foodery </h4>
                     <p class="mainColor ft-500"> Healthy food and beverages to
                        help you eat well to live well. <br/>
                        Local pick-up & delivery available.
                        </p>
                     <button class='mainButton'> Start Your Order </button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="shopCards">
                         <div class="shopCards-img"></div>
                         <h6 class='mainColor'> Build Your Own Bowl </h6>
                         <p class='mainColor'> Craft your own bowls and salads from
                            the best locally sourced, organic & halal
                            ingredients
                              </p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-6">
                     <div class="shopCards">
                         <div class="shopCards-img"></div>
                         <h6 class='mainColor'> Kombucha Bar </h6>
                         <p class='mainColor'> Craft kombucha on tap from our friends
                            at Cross Culture Kombucha.
                              </p>
                     </div>
                 </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                                 <div class="shopCards">
                                     <div class="shopCards-img"></div>
                                     <h6 class='mainColor'> Healthy Snacks & Treats </h6>
                                     <p class='mainColor'> Muffins, scones, cookies, treats and
                                        more for a healthy mid-day snack
                                          </p>
                                 </div>
                             </div>
                </div>

                <div class="container mtt-30">
                    <div class='row'>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                         <h4 class="mainColor mainTitle"> Nurture Yourself
                            With Nature </h4>
                         <p class="mainColor ft-500"> CBD & natural wellness products
                            for your self care routine. <br/>
                            Ships nationwide.
                            </p>
                         <button class='mainButton'> Shop Online </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                         <div class="shopCards">
                             <div class="shopCards-img"></div>
                             <h6 class='mainColor'> CBD Products </h6>
                             <p class='mainColor'> Shop our wide selection CBD products
                                quality tested and curated to help you
                                live well naturally.
                                  </p>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-6">
                         <div class="shopCards">
                             <div class="shopCards-img"></div>
                             <h6 class='mainColor'> Beauty & Wellness </h6>
                             <p class='mainColor'> Feel better on the inside and out with
                                our wide selection of wellness
                                products.
                                  </p>
                         </div>
                     </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                                     <div class="shopCards">
                                         <div class="shopCards-img"></div>
                                         <h6 class='mainColor'> Pet Products </h6>
                                         <p class='mainColor'>Give your pet the gift of calm with highquality CBD products to help them
                                            relax and thrive.
                                              </p>
                                     </div>
                                 </div>
                    </div>
               </div>
                <div class="container-fluid mtt-20"> 
               <div class="mainSlider mainBg">
                <div class="inner-content text-center">
                  <h2 class="mainColor mainTitle"> 3-Day Kombucha Cleanse</h2>
                  <p class="mainColor"> Reset your system with a 3-day <br/>
                    kombucha cleanse to eliminate<br/>
                    toxins and restore gut health. </p>
                  <button class='mainButton'> ORDER NOW </button>
                </div>  
              </div>
              </div>

              <div class='container mtt-20'>
                <h4 class="mainColor"> Meet Our Consultants </h4>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="shopCards">
                            <div class="shopCards-img"></div>
                            <h6 class='mainColor'>  Name </h6>
                            <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo
                                 </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="shopCards">
                            <div class="shopCards-img"></div>
                            <h6 class='mainColor'>  Name </h6>
                            <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo
                                 </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="shopCards">
                            <div class="shopCards-img"></div>
                            <h6 class='mainColor'>  Name </h6>
                            <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo
                                 </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="shopCards">
                            <div class="shopCards-img"></div>
                            <h6 class='mainColor'>  Name </h6>
                            <p class='mainColor'> Sed ut perspiciatis unde omnis iste
                                natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem
                                aperiam, eaque ipsa quae ab illo
                                 </p>
                        </div>
                    </div>
                </div>
              </div>

              <div class='container relatedPost mtt-30'>
                <h4 class="mainColor"> Related Posts About Wellness </h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="postCards">
                            <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                            <h5 class="clr-blue"> Post Headline <br/>
                              Goes Here </h5>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="postCards">
                            <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                            <h5 class="clr-blue"> Post Headline <br/>
                              Goes Here </h5>
                          </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="postCards">
                            <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                            <h5 class="clr-blue"> Post Headline <br/>
                              Goes Here </h5>
                          </div>
                    </div>
                </div>
                </div>


               <footer-component/>
                </div>
        </main>
    </body>
</html>