<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, Meta Tags, Metadata"/>
    <meta name="description" content="Learning about Meta Tags."/>
    <meta name="author" content="IncredibleEdibles.com"/>
    <title>Incredible Edible</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../Styles/home.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/modals.css" rel="stylesheet" type="text/css" />
    <link href="../Styles/locations.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/jpg" href="../../Assets/Images/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../Assets/Js/navbar-animate.js"></script>
    <script src="../../Assets/Js/toogle-menu.js"></script>
    <script src="../Header/header.js" type="text/javascript" defer></script>
    <script src="../Footer/footer.js" type="text/javascript" defer></script>
  </head>
    <body>
        <header-component></header-component>
        <main>
            <div class="container-fluid">
                <!--first div-->
                <div class="borderDiv">
                  <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                          <div class="blogCont">
                            <nav aria-label="breadcrumb" class="breadNav">
                              <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item"><a href="#"> SHOP CBD </a></li>
                                <li class="breadcrumb-item"><a href="#">PAIN MANAGEMENT </a></li>
                                <li class="breadcrumb-item"><a href="#">BRANDS </a></li> -->
                                <li class="breadcrumb-item active" aria-current="page"> Locations </li>
                              </ol>
                            </nav>
                            <h1 class="mainColor">Incredible Edibles <br/> Locations  </h1>
                          
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="inner-content">
                                <ul class="locationItems">
                                    <li> Fresh food to go </li>
                                    <li> Healthy snacks and treats</li>
                                    <li> Kombucha & coffee bar </li>
                                    <li> CBD & wellness products </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!--Second Div-->
                    <div class="container mtt-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <h2 class="mainColor mainTitle" > Hickory, NC </h2>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="locationImg">
        
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <h6 class="card-title mainColor">Downtown Hickory</h6>
                                        <p class=" mainColor mbb-0 ft-18"> 883 Highland Avenue SE
                                            Hickory, NC 28602 </p>
                                        <a href="#" class="locationLink" >Get Directions</a>
                                        <button class='mainButton'> STORE PAGE </button>
                                    </div>
                                </div>
                                <p class=" mainColor mbb-0 ft-18"> <b> Store Hours: </b> </p>
                                <p class=" mainColor mbb-0 "> Sunday 12PM-7PM <br/>
                                    Monday-Thurs 11AM-7PM
                                    <br/>
                                    Friday & Saturday 11AM-9PM
                                </p>
                                <p class=" mainColor mbb-0 mtt-30 "> <b> Phone: </b> 123-456-7890 </p>
                                <p class=" mainColor mbb-0 "> <b>  Email: </b>  hickory@incredibleedibles.com </p>
                                <p class=" mainColor mbb-0 mtt-30"> <b> Contactless Pick-up & Delivery Available </b>  </p>
                                <br/>
                              <a href="#" class="locationLink mtt-30 mainColor" > <b> MENU </b></a> 
                              <br/> 
                                <a href="#" class="locationLink mtt-30 mainColor" > <b> PLACE AN ORDER </b></a> 
                                <br/> 
                                <a href="#" class="locationLink mtt-30 mainColor" > <b> ONLINE STORE </b></a> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <h2 class="mainColor mainTitle">Glastonbury, CT </h2>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <div class="locationImg">
        
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6">
                                        <h6 class="card-title mainColor">The Shops at Somerset</h6>
                                        <p class=" mainColor mbb-0 ft-18"> 110 Glastonbury Boulevard
                                            Glastonbury, CT 06033 </p>
                                        <a href="#" class="locationLink" >Get Directions</a>
                                        <button class='mainButton'> STORE PAGE </button>
                                    </div>
                                </div>
                                <p class=" mainColor mbb-0 ft-18"> <b> Store Hours: </b> </p>
                                <p class=" mainColor mbb-0 "> Sunday 12PM-7PM <br/>
                                    Monday-Thurs 11AM-7PM
                                    <br/>
                                    Friday & Saturday 11AM-9PM
                                </p>
                                <p class=" mainColor mbb-0 mtt-30 "> <b> Phone: </b> 123-456-7890 </p>
                                <p class=" mainColor mbb-0 "> <b>  Email: </b>  glastonbury@incredibleedibles.com </p>
                                <p class=" mainColor mbb-0 mtt-30"> <b> Contactless Pick-up & Delivery Available </b>  </p>
                                <br/>
                              <a href="#" class="locationLink mtt-30 mainColor" > <b> MENU </b></a> 
                              <br/> 
                                <a href="#" class="locationLink mtt-30 mainColor" > <b> PLACE AN ORDER </b></a> 
                                <br/> 
                                <a href="#" class="locationLink mtt-30 mainColor" > <b> ONLINE STORE </b></a> 
                                
                            </div>
                        </div>
                    </div>
                <footer-component/>
            </div>
        </main>
    </body>
</html>
