<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="HTML, Meta Tags, Metadata"/>
    <meta name="description" content="Learning about Meta Tags."/>
    <meta name="author" content="IncredibleEdibles.com"/>
    <title>Incredible Edible</title>
    <link rel="shortcut icon" type="image/jpg" href="../../../Assets/Images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../../Styles/home.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/about.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/life.css" rel="stylesheet" type="text/css" />
    <link href="../../Styles/modals.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../../Assets/Js/navbar-animate.js"></script>
    <script src="../../../Assets/Js/toogle-menu.js"></script>
        <script src="../../../Assets/Js/filters-list.js"></script>
    <script src="../../Header/header.js" type="text/javascript" defer></script>
    <script src="../../Footer/footer.js" type="text/javascript" defer></script>
  </head>
    <body>
        <header-component></header-component>
        <main>
            <div class="container-fluid">
            <!-- First Div-->
                <div class="mainSlider sec-bg">
                    <div class="container pd-5-per">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <h1 class="titlebig"> A CBD Store,
                                    A Kombucha Bar
                                    and a Healthy Café,
                                    All Wrapped In To One
                                     </h1>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p class="p-big"> Incredible, right? We’re all about making it easy,
                                    delicious and fun to feel good by feeling great about
                                    what you nourish your body with. We harness the power
                                    of plants and naturally derived ingredients to bring you
                                    food, beverages, and products that promote everyday
                                    wellness. <b> When we take care of ourselves we can
                                    take care of the world around us. </b>
                                     </p> 
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Second Div -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="basicCard">
                                <div class="basicImg">   </div>
                                <h6 class='mainColor'> Wellness Products </h6>
                                <p class='mainColor'> A wide selection of
                                    wellness products including
                                    CBD gummies, tinctures
                                    and, skincare, and even pet
                                    care with natural
                                    ingredients to help you feel
                                    and look your best.
                                     </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="basicCard">
                                <div class="basicImg">   </div>
                                <h6 class='mainColor'> Functional Foods </h6>
                                <p class='mainColor'> Salads, bowls, soups,
                                    snacks, and baked goods
                                    packed with good-for-you
                                    ingredients to support a
                                    healthy lifestyle.
                                    
                                     </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="basicCard">
                                <div class="basicImg">   </div>
                                <h6 class='mainColor'>Functional Beverages </h6>
                                <p class='mainColor'> Naturally fermented
                                    beverages like kombucha
                                    and apple cider vinegar can
                                    be a fun and delicious way
                                    to boost your overall
                                    wellness.
                                     </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-3">
                            <div class="basicCard">
                                <div class="basicImg">   </div>
                                <h6 class='mainColor'> Healthy Snacks </h6>
                                <p class='mainColor'> Get quick energy
                                    throughout your day with
                                    snacks and treats made
                                    with healthy ingredients
                                    and superfoods.
                                     </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Third Div -->
                 <div class="container-fluid">
                    <div class="alternateDiv">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 mainBGColor">
                               <div class="inner-content">
                                <h5 class="clr-white text-center"> Nurture Yourself with Nature </h5>
                                <div id="wrap">
                                    <div>
                                        <h6 class="clr-white"> Fuel your body </h6>
                                        <p class="clr-white"> We offer the highest quality ingredients and products,
                                            including natural, organic, non-GMO, halal, plant-based,
                                            and allergy-friendly ingredients as much as possible. </p>
                                    </div>
                                    <div>
                                        <h6 class="clr-white"> Feed your mind </h6>
                                        <p class="clr-white"> We extensively research and learn about every
                                            product and ingredient we serve and then pass the
                                            education on to you, so you can be empowered to
                                            make great decisions for your own wellness</p>
                                    </div>

                                    <div>
                                        <h6 class="clr-white"> Fill your soul </h6>
                                        <p class="clr-white"> It’s deeper for us than just the food and drinks we serve and the
                                            products we sell. Whether it’s through putting a smile on your
                                            face or giving you a little pick-me-up, we want to have a small
                                            part in making your life more incredible. </p>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 secBGColor">
                                <div class="quoteCont"> 
                                <figure>
                                    <blockquote class='aboutQuote' cite="#">
                                        <h1 class="clr-grey ">Let food be thy
                                            medicine and medicine
                                            be thy food.</h1>
                                    </blockquote>
                                    <figcaption class="clr-grey ">—Hippocrates
                                         <!-- <cite>Brave New World</cite> -->
                                        </figcaption>
                                </figure>
                            </div>
                            </div>
                        </div>
                    </div>
                 </div>
                    <!-- Forth Div -->
                    <div class="mainSlider ">
                        <div class="row">
                          <div class="col-lg-5 col-sm-12 col-md-5">
                            <div class="inner-containerContent">
                              <h2 class="mainColor mainTitle"> A Higher Standard</h2>
                                <p class="mainColor ft-500"> The wellness products we offer have
                                  been specifically curated for quality,
                                  safety, and efficacy.
                                   </p>
                                <button class='mainButton'> LEARN MORE </button>
                            </div>
                          </div>
                          <div class="col-lg-7 col-sm-12 col-md-7">
                              <div class="row">
                                <div class="col-6">
                                  <div class="inner-content">
                                      <div class='iconCont text-center'>
                                        <h6 class="mainColor mainTitle"> CBD ICON </h6>
                                      </div>
                                      <ul class="mainList">
                                          <li class="mainColor ft-500"> Third Party Tested </li>
                                          <li class="mainColor ft-500"> Ingredient Purity </li>
                                          <li class="mainColor ft-500"> Plant Traceability </li>
                                      </ul>
                                    </div>
                                </div>
                                <div class="col-6">
                                  <div class="inner-content">
                                    <div class='iconCont text-center'>
                                      <h6 class="mainColor mainTitle"> FOOD ICON </h6>
                                    </div>
        
                                    <ul class="mainList">
                                      <li class="mainColor ft-500"> Organic </li>
                                      <li class="mainColor ft-500"> Non-GMO </li>
                                      <li class="mainColor ft-500"> Gluten Free Options</li>
                                      <li class="mainColor ft-500"> Halal Options </li>
                                  </ul>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <!-- Fifth Div-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="bgSec">
                                    <div class="btnCont text-center">
                                        <h2 class="mainColor ">Shop Our Store </h2>
                                          <p class="mainColor ft-500"> Get CBD and wellness products shipped directly to you.
                                            </p>
                                           
                                          <button class='mainButton'> SHOP NOW </button>
                                      </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                 <div class="bgSec">
                                    <div class="btnCont  text-center">
                                        <h2 class="mainColor ">Find A 
                                          Feel Good
                                          Foodery </h2>
                                          <p class="mainColor ft-500"> Find the Incredible Edibles café location near you.
                                            </p>
                                           
                                          <button class='mainButton'> LOCATIONS </button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sixth Div-->
                    <div class='container relatedPost mtt-30'>
                        <h4 class="mainColor"> Nurture Yourself with Nature </h4>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="postCards">
                                    <label class="post-tag clr-blue"> <span id='catsubChange'> Wellness </span>  <span class="vl-post">  </span> 08/18/21</label>
                                    <h5 class="clr-blue"> Post Headline <br/>
                                      Goes Here </h5>
                                  </div>
                            </div>
                        </div>
                        </div>

                        <footer-component/>
                </div>
        </main>
    </body>
    </html>
